In [1]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print("List: ", L)
L.append(200)
L.append(300)

print("After adding elements: ",L)
L.remove(10)
L.remove(30)

print("After removing elements: ",L)
L.sort()
print("After sorting: ",L)

L.sort(reverse = True)
print("After sorting in reverse order: ",L)

List:  [10, 20, 30, 40, 50, 60, 70, 80]
After adding elements:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing elements:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting in reverse order:  [300, 200, 80, 70, 60, 50, 40, 20]

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print("List: ", L)
L.append(200)
L.append(300)

print("After adding elements: ",L)
L.remove(10)
L.remove(30)
print("After removing elements: ",L)
L.sort()
print("After sorting: ",L)

L.sort(reverse = True)
print("After sorting in reverse order: ",L)

List:  [10, 20, 30, 40, 50, 60, 70, 80]
After adding elements:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing elements:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting in reverse order:  [300, 200, 80, 70, 60, 50, 40, 20]

Assignment 2.1

---------------------------------------------------------------------------------------------------------------------------------------------
1. Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
    i. WAP to add 200 and 300 to L.
    ii. WAP to remove 10 and 30 from L.
    iii. WAP to sort L in ascending order.
    iv. WAP to sort L in descending order.
---------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
print("List: ", L)

L.append(200)
L.append(300)
print("After adding elements: ",L)
L.remove(10)
L.remove(30)
print("After removing elements: ",L)
L.sort()
print("After sorting: ",L)

L.sort(reverse = True)
print("After sorting in reverse order: ",L)

List:  [10, 20, 30, 40, 50, 60, 70, 80]
After adding elements:  [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
After removing elements:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting:  [20, 40, 50, 60, 70, 80, 200, 300]
After sorting in reverse order:  [300, 200, 80, 70, 60, 50, 40, 20]

---------------------------------------------------------------------------------------------------------------------------------------------
2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
i. Identify the highest score and its index in the tuple.
ii. Find the lowest score and count how many times it appears.
iii. Reverse the tuple and return it as a list.
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.
---------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(scores)
highest_index = scores.index(highest_score)
print(f"Highest Score: {highest_score} at Index: {highest_index}")

lowest_score = min(scores)
lowest_count = scores.count(lowest_score)
print(f"Lowest Score: {lowest_score}, Count: {lowest_count}")
li = reversed(scores)
reversed_list = list(li)
print(f"Reversed Tuple as List: {reversed_list}")
user_input = int(input())

if user_input in scores:
    first_occurrence = scores.index(user_input)
    print(f"Score {user_input} is present at index: {first_occurrence}")
else:
    print(f"Score {user_input} is not present in the tuple.")

Highest Score: 92 at Index: 5
Lowest Score: 45, Count: 2
Reversed Tuple as List: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

 76

Score 76 is present at index: 2

---------------------------------------------------------------------------------------------------------------------------------------------
3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
   the:
       i. All odd numbers
       ii. All even numbers
       iii. All prime numbers
---------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
import random

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num * 0.5) + 1):
        if num % i == 0:
            return False
    return True

random_numbers = [random.randint(100, 900) for _ in range(100)]
odd_numbers = [num for num in random_numbers if num % 2 != 0]
even_numbers = [num for num in random_numbers if num % 2 == 0]
prime_numbers = [num for num in random_numbers if is_prime(num)]
odd_numbers.sort()
even_numbers.sort()
prime_numbers.sort()

print("Odd numbers:", len(odd_numbers),": ", odd_numbers)
print("\n")
print("Even numbers:", len(even_numbers), ": ",even_numbers)
print("\n")
print("Prime numbers :", len(prime_numbers),": ", prime_numbers)

Odd numbers: 56 :  [101, 107, 111, 117, 129, 145, 145, 169, 211, 255, 293, 307, 353, 359, 371, 375, 377, 379, 379, 391, 427, 429, 429, 433, 463, 465, 467, 471, 509, 519, 531, 533, 551, 573, 581, 583, 597, 629, 637, 641, 655, 667, 673, 679, 685, 689, 721, 737, 745, 757, 805, 815, 821, 823, 857, 859]


Even numbers: 44 :  [116, 124, 130, 164, 180, 262, 276, 316, 326, 334, 364, 432, 440, 440, 446, 456, 460, 460, 464, 492, 502, 512, 520, 536, 540, 548, 550, 556, 570, 590, 610, 626, 628, 638, 650, 664, 680, 692, 720, 724, 760, 824, 834, 892]


Prime numbers : 20 :  [101, 107, 211, 293, 307, 353, 359, 379, 379, 433, 463, 467, 509, 641, 673, 757, 821, 823, 857, 859]

---------------------------------------------------------------------------------------------------------------------------------------------
4.  Consider the following two sets, A and B, representing scores of two teams in multiple
    matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
    WAP to perform the following operations using set funcƟons:
    i. Find the unique scores achieved by both teams (union of sets).
    ii. Identify the scores that are common to both teams (intersection of sets).
    iii. Find the scores that are exclusive to each team (symmetric difference).
    iv. Check if the scores of team A are a subset of team B, and if team B's scores are
    a superset of team A.
    v. Remove a specific score X (input by the user) from set A if it exists. If not, print
    a message saying it is not present.
---------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)
common_scores = A.intersection(B)
exclusive_scores = A.symmetric_difference(B)
is_subset = A.issubset(B)
is_superset = B.issuperset(A)

print(f"Unique Scores: {unique_scores}")
print(f"Common Scores: {common_scores}")
print(f"Exclusive Scores: {exclusive_scores}")
print(f"Team A's scores a subset of Team B: {is_subset}")
print(f"Team B's scores a superset of Team A: {is_superset}")

X = int(input("Enter a score to remove from Team A: "))
if X in A:
    A.remove(X)
    print(f"Score {X} removed from Team A. \nUpdated Team A scores: {A}")
else:
    print(f"Score {X} is not present in Team A.")

Unique Scores: {34, 45, 78, 23, 56, 90}
Common Scores: {90, 78}
Exclusive Scores: {34, 45, 23, 56}
Team A's scores a subset of Team B: False
Team B's scores a superset of Team A: False

Enter a score to remove from Team A:  56

Score 56 removed from Team A.
Updated Team A scores: {34, 90, 78}

---------------------------------------------------------------------------------------------------------------------------------------------
5. Write a program to rename a key city to a location in the following dictionary.
---------------------------------------------------------------------------------------------------------------------------------------------

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New York"
}
sample_dict["location"] = sample_dict["city"]
del sample_dict["city"]

print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}